body {
    max-width: 1200px;
    margin: 0 auto;
    background-attachment: fixed;
    background-image: url('../image/back1.jpg');
    color: white;
    font-family: 'Rubik Mono One', sans-serif;
}

#header img {
    max-width: 100%;
}

hr {
    margin-bottom: 50px;
}

img {
    cursor: pointer;
}

#prequel,
#original,
#sequel,
#story {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#original {
    margin-top: 50px;
}

#sequel {
    margin-top: 50px;
}

#story {
    margin-top: 50px;
}

#footer {
    margin-top: 200px;
    display: flex;
    justify-content: center;
}

#up {
    cursor: pointer;
}

#menu1 {
    resize: none;
    float: left;
    width: 25%;
    max-height: 90px;
    text-decoration: none;
    color: white;
    text-align: center;
    border-right: 2px solid yellow;
    padding-top: 2px;

}

#menu2 {
    resize: none;
    float: left;
    width: 25%;
    max-height: 90px;
    text-decoration: none;
    color: white;
    text-align: center;
    border-right: 2px solid yellow;
    padding-top: 2px;
}

#menu3 {
    resize: none;
    float: left;
    width: 24%;
    max-height: 90px;
    text-decoration: none;
    color: white;
    text-align: center;
    border-right: 2px solid yellow;
    padding-top: 2px;
}

#menu4 {
    resize: none;
    display: block;
    text-decoration: none;
    color: white;
    text-align: center;
    max-height: 90px;
    border: 2px solid yellow;
}

@media screen and (max-width:920px) {
    .m {
        /*font-size: 0.9em;*/
        padding-bottom: 20px;
    }
}

@media screen and (max-width:675px) {
    .m {
        padding: 0;
    }

    .m img {
        display: none;
        resize: none;
    }

    #prequel img,
    #original img,
    #sequel img,
    #story img {
        max-height: 260px;
        margin-bottom: 20px;
    }
}


@media screen and (max-width:520px) {
    .m p {
        display: none;
    }

    .m img {
        display: inline;
    }
}

@media screen and (max-width:225px) {
    .m img{
        height: 25px;
    }
   
}

@media screen and (max-width:140px) {
    .m {
        display: none;
    }
    
    #menu4 {
        display: none;
    }
}
